* {
  margin: 0;
  padding: 0;
  font-family: "poppins", "sans-serif";
}
body {
  background-color: rgb(109, 56, 183);
  display: flex;
  align-content: center;
  justify-content: center;
}
.title {
  display: flex;
  margin-left: 10px;
}
.title img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  margin-left: 10px;
}
.card {
  padding: 50px 30px 20px 30px;
  margin-top: 100px;
  min-width: 300px;
  background-color: white;
  border-radius: 25px;
}
.addTask {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(239, 233, 233);
  border-radius: 30px;
}
.inputBox {
  border: none;
  background-color: rgb(239, 233, 233);
  font-size: 15px;
  margin-left: 10px;
  outline: none;
}
.addBtn {
  font-size: 15px;
  background-color: orange;
  border: none;
  padding: 17px 25px;
  border-radius: 30px;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 30px 15px 15px 15px;
  cursor: pointer;
  user-select: none;
}
ul li {
  margin: 0 0 8px 5px;
  font-size: 17px;
  position: relative;
}
li::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  left: -25px;
  top: 2px;
}
li.checked {
  text-decoration: line-through;
  color: rgb(167, 170, 171);
}
li.checked::before {
  background-image: url(images/checked.png);
}
span{position: absolute;
    right: -10px;
    top: 3px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
}
span:hover{
    background-color: aliceblue;
}